h1
{ text-align: center;
}

.one
{
color:red;
}

.two
{
    color:blue;
}

.three
{
color:green;
}

.four
{
    font-size: x-large;
}

.five
{
    font-size: x-small;
}

.six
{
    text-align: center;
}

.seven
{
font-weight: bold ;
}

.eight
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nine
{
    font-size: x-large;
    color: orange;
    font-weight: bold ;
}
.styledFont
{
color:green;
}


#styledImage
{
border-style: solid;
border-color:orange;
border-width: 10px;
}